@media all and (min-width:0px) and (max-width:500px) {
    header {
        justify-content: space-between;
        padding: 15px;
        top: 1.5vh;
        align-self: baseline;
        align-items: baseline;
        padding:0 2rem;
      }
      nav ul {
        gap: 15px;
      }
      .main-date {
        display:none;
      }
      h1 a {
        font-size: 1.1rem;
      }
      nav ul li a {
        font-size: .8rem;
      }
    @media all and (min-width:340px) and (max-width:368px) {
        nav ul {
            gap: 10px;
          }
          .main-date {
            display:none;
          }
          h1 a {
            font-size: 1rem;
          }
          nav ul li a {
            font-size: .7rem;
          }
    }
      .main-image {
        top:35%;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
      }
      .alien-beauty {
        width: 43vh;
        top: 54%;
      }
      .main-aside-1 {
        text-align: center;
        bottom:0;
        right:0;
        width: 100%;
        border-radius:0px;
        padding:5.5vw;
        border:none;
      }
      .image-border-top, .image-border-left{
        display:none;
      }
      
      .section-2 {
        text-align: center;
        top: 86vh;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: auto;
        width:90%;
        margin-left: 2vh;
        margin-bottom: 40vh;
      }
      .explore-info-container {
        position: relative;
        left:0vh;
      }
      
.section-2 h2 {
    margin-top:3vh;
    font-size:clamp(2.4rem, 2vw, 2.5rem);
    line-height: 5.4vh;
  }
  .explore-about-us {
    line-height: 5.5vh;
    font-size:1.1rem;
  }
  .section-2 p {
    padding:1vw 5vw 3vh 5vw;
    line-height: 2.9vh;
    font-size:.9rem;
  }
  
.section-2-article {
    overflow: auto;
    display: flex;
    width: 98vw;
    border-radius: 45px;
  }
  .section-2-img {
    display: none;
  }
  
  .section-2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
  }
  
  .section-2-star-img {
    display:none;
    width: 27vh;
  }
  
  
.section-3 {
    position: relative;
    top: 55vh;
    margin-bottom:70vh;
    color: #a04126;
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
  }
  .section-3 h2 {
    margin-top: 5vh;
    font-size:3.1rem;
    margin-bottom: 4.5vh;
    line-height:6.4vh;
  }
  .section-3 img {
    height: 80%;
    width:auto;
  }
  
.section-3-info {
    line-height: 3vh;
  }
  .section-3-info p {
    font-size: clamp(0.9rem, 1vw, 1.1rem);
    width:auto;
    padding:0 10vw;
    line-height: clamp(1.4rem, 1.6vw, 2.1rem);
    margin-bottom: 6vh;
  }
  .section-3-last-text {
    text-align: center;
    padding:2vh;
    width:100vw;
    position: relative;
    flex-direction: column;
    left:0vw;
    gap: 0px;
    align-self: center;
    justify-content:center;
  }
  
  .section-3-button {
    font-size: 1.1rem;
    width: 90vw;
    border-radius: 20px;
    margin-top: 1vh;
    padding: 2.2vh;
  }
  

footer {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0vh;
    gap:7vw;
  }
  
  .footer__headline {
    font-size:1.2rem;
    margin-bottom: 2vh;
  }
  .footer__list {
    line-height:1.4rem;
    font-weight: 500;
    font-size:.8rem;
  }
  .contact {
    top:47%;
  }

}