@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #747e63;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e5640;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f4534;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #150a04;
  font-family: "Montserrat", arial, sans-serif;
}


:root {
    --font-color-green:#c0d59c;
    --font-color-black:#000000;
}

main {
  animation:fadeIn 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

header {
    z-index: 10;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:15px 75px 0 75px;
    position: relative;
    top:clamp(15px, 5vh, 30px);
    opacity:0%;
    animation:navfadeIn 2s forwards;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;

}
@keyframes navfadeIn {
  0% {opacity:0%;}
  100% {opacity:100%;}
}
.main-date {
    padding:15px 75px 0 75px;
    position: absolute;
    bottom:5vh;
    color:var(--font-color-green);
    font-size: clamp(1rem, 2vh, 1.2rem);
    letter-spacing: 1px;
  }
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:35px;
}
h1 a {
  font-size: clamp(1.3rem, 2vh, 1.6rem);
    color:var(--font-color-green);
    text-decoration: none;
}
nav ul {
    list-style-type: none;
}
nav ul li a {
  font-size: clamp(.9rem, 2vh, 1.1rem);
    color:var(--font-color-green);
    text-decoration: none;
}

nav ul li a:hover {
    color:#90a272;
    transition: 0.2s;
}
.contact-button {
    border:1px solid #c0d59c;
    padding:8px 30px 8px 30px;
    border-radius: 50px;
}
.contact-button:hover {
    background-color:var(--font-color-green);
    color:var(--font-color-black);
    transition: 0.2s;
}

  .main-image {
    overflow: hidden;
    top:-4vh;
    position: relative;
    width:97vw;
    height:94vh;
    border-radius: 45px;
    background-image: url("img/space-men-2.jpg");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    margin:auto;
    animation:zoomIn 2s forwards;
    animation-timing-function: ease-in-out;
  }
  @keyframes zoomIn {
    0% {transform: scale(0.92);border-radius: 200px;width:85vw; height:85vh;}
    100% {transform: scale(1); border-radius: 45px;filter:blur(0px);width:97vw; height:94vh;}
  }
  
  .alien-beauty {
    width:80vh;
    position: absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .main-aside-1 {
    position: absolute;
    top:92%;
    left:85%;
    transform: translate(-50%, -50%);
    background-color: #a04126;
    width:650px;
    height:auto;
    border-radius: 25px 0px 0px 0px;
    padding:55px;
  }
  .main-aside-1 h2 {
  margin-top:-15px;
   margin-bottom:10px;
   font-size:1.2rem;
  }
  .main-aside-1 p {
    line-height: 2.5vh;
    font-size:.9rem;
    padding:0 15px 0 0;
   }

   .section-2 {
    top:10vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height:30vh;
    margin-left:10vh;
    margin-bottom:50vh;
   }
   .section-2 h2 {
    font-size: 4rem;
    line-height: 7vh;
   }
   .section-2 p {
    padding:0 15px 0 35px;
    line-height: 2.7vh;
    font-size:.9rem;
   }

   .section-2-article {
    overflow: hidden;
    background-color: #a04126;
    display: flex;
    width:60vw;
    border-radius: 45px;
   }
   .section-2-img {
    width:auto;
    height:25vh;

   }

   .section-2-info {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:5vh;
   }


   .section-2-star-img {
    position: relative;
    top:-2.5vh;
    padding:5vh;
    width:35vh;
    margin-left:0;
    animation:spin 10s infinite;
    animation-timing-function: linear; 
   }


   @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}




















  /* Responsive */
@media all and (max-width:1400px) {
    .main-aside-1 {
        position: absolute;
        top:90%;
        left:80%;
        transform: translate(-50%, -50%);
        background-color: #a04126;
        width:65vh;
        height:auto;
        border-radius: 25px;
        padding-right:85px;
      }
}
@media all and (max-width:1050px) {
    .main-aside-1 {
        position: absolute;
        top:90%;
        left:80%;
        transform: translate(-50%, -50%);
        background-color: #a04126;
        width:65vh;
        height:auto;
        border-radius: 25px;
        padding-right:145px;
      }
}
@media all and (max-width:800px) {
    .alien-beauty {
        width:85%;
        position: absolute;
        top:45%;
        left:50%;
        transform: translate(-50%, -50%);
      }
      .main-date {
        display:none;
      }
      .main-aside-1 {
        position: absolute;
        top:90%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color: #a04126;
        text-align: left;
        width:100%;
        height:auto;
        border-radius: 0;
        padding-right:5vh;
      }
    }


    @media all and (max-width:690px) {    
header {
    z-index: 10;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    padding:0;
    position: relative;
    top:5vh;
}
nav ul{
    position: relative;
    top:45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:35px;
}
header h1 a {
    position: relative;
    top:20px;
    font-size: 1.7rem;
    color:var(--font-color-green);
    text-decoration: none;
}

        }
    


        @media all and (max-width:1200px) {    
          .section-2-article {
              display:flex;
              flex-direction:column;
              align-items: center;
              justify-content: space-between;
              height:50vh;
          }
          .section-2-article h2 {
            margin-top:5vh;
            text-align: left;
            align-self: flex-start;
            padding:0 0 0 25px;
        }
          .section-2-info {
            display:flex;
            flex-direction:column;
            align-items: center;
            justify-content: space-between;
            padding:25px;
        }
        
   .section-2-star-img {
    overflow: hidden;
    position: relative;
    top:14vh;
    padding:0vh;
    width:20vh;
    height:auto;
    left:2vh;
    animation:spin 10s infinite;
    animation-timing-function: linear; 
   }
        }

        
        @media all and (max-width:820px) {    
          .section-2-article {
              display:flex;
              flex-direction:column;
              align-items: center;
              justify-content: space-between;
              height:60vh;
          }  
          .section-2-article h2 {
            font-size: clamp(3rem, 5vh, 3.2rem);
        }
        .section-2-star-img {
          overflow: hidden;
          position: relative;
          top:-12vh;
          padding:0vh;
          width:15vh;
          height:auto;
          left:-2vh;
          animation:spin 10s infinite;
          animation-timing-function: linear; 
         }
        }
                
        @media all and (max-width:600px) {    
          .section-2-article {
              display:flex;
              flex-direction:column;
              align-items: center;
              justify-content: space-between;
              height:65vh;
          }  
          .section-2-article h2 {
            font-size: clamp(2.5rem, 2vh, 2.7rem);
            line-height: 50px;
            padding:25px 25px 0 25px;
        }
        .section-2-star-img {
          overflow: hidden;
          position: relative;
          top:-12vh;
          padding:0vh;
          width:12vh;
          height:auto;
          left:-5vh;
          animation:spin 10s infinite;
          animation-timing-function: linear; 
         }
         .section-2-info {
          display:flex;
          flex-direction:column;
          align-items: center;
          justify-content: space-between;
          padding:15px;
      }
      .main-aside-1 {
        position: absolute;
        top:90%;
        left:50%;
        transform: translate(-50%, -50%);
        background-color: #a04126;
        text-align: left;
        width:100%;
        height:auto;
        border-radius: 0;
        padding-right:5vh;
      }
      .main-aside-1 h2 {
        margin-top:-30px;
        font-size: 1rem;
        width:90%;
      }
      .main-aside-1 p {
        font-size: 0.8rem;
        width:90%;
      }
      
        }
        @media all and (max-width:500px) {    
          .section-2-article {
              display:flex;
              flex-direction:column;
              align-items: center;
              justify-content: space-between;
              height:60vh;
              left:-5vh;
              top:9vh;
              position: relative;
              width:90vw;
          }  
          .section-2-article h2 {
            font-size: clamp(2.2rem, 2vh, 2.1rem);
            line-height: 40px;
            padding:5px 25px 0 25px;
        }
        .section-2-star-img {
          float:right;
          overflow: hidden;
          position: absolute;
          top:-10vh;
          padding:0vh;
          width:15vh;
          height:auto;
          left:12vh;
          animation:spin 10s infinite;
          animation-timing-function: linear; 
         }
         .section-2-info {
          display:flex;
          flex-direction:column;
          align-items: center;
          justify-content: space-between;
          padding:15px;
      }
      
        }