@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Scrollbar  */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #747e63;
}
::-webkit-scrollbar-thumb {
  background: #4e5640;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f4534;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --font-color-green: #c0d59c;
  --font-color-black: #000000;
}
body {
  background-color: #150a04;
  font-family: "Montserrat", arial, sans-serif;
}


.main-homepage {
  animation: fadeIn 2s forwards;
  animation-timing-function: ease-in-out;
}
main {
  animation: fadeIn 0.4s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 75px 0 75px;
  position: relative;
  top: clamp(1.5rem, 4.5vh, 2.7rem);
}
.header-homepage {
  opacity: 0%;
  animation: navfadeIn 2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes navfadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.main-date {
  padding: 15px 75px 0 75px;
  position: absolute;
  bottom: 5vh;
  color: var(--font-color-green);
  font-size: clamp(1rem, 2vh, 1.2rem);
  letter-spacing: 1px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 35px;
}
h1 a {
  font-size: clamp(1.1rem, 3vh, 1.6rem);
  color: var(--font-color-green);
  text-decoration: none;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  font-size: clamp(0.6rem, 2vh, 1.1rem);
  color: var(--font-color-green);
  text-decoration: none;
}

nav ul li a:hover {
  color: #90a272;
  transition: 0.2s;
}
.contact-button {
  border: 1px solid #c0d59c;
  padding: 8px 30px 8px 30px;
  border-radius: 50px;
}
.contact-button:hover {
  background-color: var(--font-color-green);
  color: var(--font-color-black);
  transition: 0.2s;
}

.main-image {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 97vw;
  height: 94vh;
  border-radius: 45px;
  background-image: url("img/space-men-2.jpg");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  margin: auto;
}

.alien-beauty {
  width: 80vh;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-aside-1 {
  transform-style: preserve-3d;
  z-index:1;
  position: absolute;
  bottom:-0.8vw;
  right:-0.8vw;
  background-color: #a04126;
  width: 32vw;
  height: auto;
  border-radius: 45px 45px 45px 45px;
  padding:1.5vw 2.5vw;
  border:1.7vh solid #150a04;
}

.information-container{
  position: relative;
}

.main-aside-1 h2 {
  margin-bottom: clamp(.9vh, 0.2vw, 1.1vh);
  font-size:clamp(1rem, 1.2vw, 1.2rem);
}
.main-aside-1 p {
  line-height:clamp(2.4vh, 1.5vw, 2.5vh);
  font-size:clamp(0.68rem, 0.8vw, 0.93rem);
  padding: 0 2vh 0 0;
}



/* Information border */
.image-border-top{
  transform: translateZ(-10px);
  z-index:0;
  position: absolute;
  top:-10.5vh;
  right:-0.1vh;
  width: 9vh;
  height:9vh;
  background:transparent;
  border-radius:5vh;
  box-shadow: 4vh 4vh 0 #150a04;
}

.image-border-left{
  transform: translateZ(-10px);
  z-index:0;
  position: absolute;
  bottom:0rem;
  left:-10.6vh;
  width: 9vh;
  height:9vh;
  background:transparent;
  border-radius:5vh;
  box-shadow: 4vh 4vh 0 #150a04;
}



.section-2 {
  top: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 30vh;
  margin-left: 10vh;
  margin-bottom: 50vh;
}
.explore-info-container {
  position: relative;
  left:-5vh;
}

.section-2 h2 {
  font-size:clamp(2.3rem, 3.5vw, 4.2rem);
  line-height: 8vh;
}
.explore-about-us {
  font-weight: 700;
  line-height: 5.2vh;
  font-size:clamp(1.2rem, 1.5vw, 1.7rem);
}
.section-2 p {
  padding: 0 1vh 0 5vw;
  line-height: 2.8vh;
  font-size:clamp(0.7rem, 0.9vw, 1rem);
}

.section-2-article {
  overflow: hidden;
  background-color: #a04126;
  display: flex;
  width: 60vw;
  border-radius: 45px;
}
.section-2-img {
  width: auto;
  height: 25vh;
}

.section-2-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.section-2-star-img {
  position: relative;
  top: -2.5vh;
  padding: 5vh;
  width: 35vh;
  margin-left: 0;
  animation: spin 10s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contact .section-2-star-img {
  position: relative;
  top: 5vh;
  padding: 5vh;
  width: 27vh;
  margin-left: 0;
  animation: spin 10s infinite;
  animation-timing-function: linear;
}



.section-3 {
  position: relative;
  top: 65vh;
  margin-bottom:90vh;
  color: #a04126;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-3 h2 {
  font-size: clamp(2.9rem, 3.6vw, 4.3rem);
  margin-bottom: 4.5vh;
  line-height: clamp(8vh, 2.8vw, 7.6vh);
}
.section-3 img {
  height: 80vh;
  width: auto;
}

.section-3-info {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 0px;
  line-height: 3vh;
}
.section-3-info p {
  font-size: clamp(0.8rem, 1vw, 1.1rem);
  width:clamp(25rem, 30vw, 36rem);
  line-height: clamp(1.2rem, 1.6vw, 2.1rem);
  margin-bottom: 6vh;
}
.section-3-last-text {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:clamp(25rem, 30vw, 36rem);
  gap: clamp(1rem, 2vw, 2rem);
}

.section-3-button {
  font-weight: 700;
  font-size: 1.1rem;
  width: 400px;
  background-color: #a04126;
  border: 1px solid #a04126;
  border-radius: 25px;
  margin-top: 30px;
  padding: 20px 35px 20px 35px;
}
.section-3-button:hover {
  background-color: transparent;
  border: 1px solid var(--font-color-green);
  color: var(--font-color-green);
  cursor: pointer;
  transition: 0.2s;
}



footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #a04126;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 15vh 0vh;
  flex-wrap: wrap;
  gap:25vw;
}

.footer__headline {
  margin-top:3vh;
  font-weight: bold;
  font-size:clamp(1.2rem, 1.5vw, 2rem);
  margin-bottom: 2vh;
}

.footer__list  li a {
  list-style: none;
  color:black;
  transition: .2s;
}
.footer__list  li a:hover {
  color:rgb(53, 53, 53);
  transition: .2s;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: clamp(1.3rem, 1.5vw, 1.9rem);
  font-weight: 500;
  font-size:clamp(.7rem, 1vw, 1.1rem);
}

.contact {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact h2 {
  color:#a04126;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 400;
  margin-bottom:50px;
  text-align: center;
}

.contact button {
  font-weight: 500;
  font-size: 1.1rem;
  width: 350px;
  background-color: #a04126;
  border: 1px solid #a04126;
  border-radius: 25px;
  margin-bottom: 7px;
  padding: 20px 35px 20px 35px;
}
.contact button:hover {
  background-color: transparent;
  border: 1px solid var(--font-color-green);
  color: var(--font-color-green);
  cursor: pointer;
  transition: 0.2s;
}
