@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #747e63;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4e5640;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f4534;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #150a04;
  font-family: "Montserrat", arial, sans-serif;
}

:root {
  --font-color-green: #c0d59c;
  --font-color-black: #000000;
}

.main-homepage {
  animation: fadeIn 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
main {
  animation: fadeIn 0.4s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 75px 0 75px;
  position: relative;
  top: clamp(15px, 5vh, 40px);
}
.header-homepage {
  opacity: 0%;
  animation: navfadeIn 2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes navfadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.main-date {
  padding: 15px 75px 0 75px;
  position: absolute;
  bottom: 5vh;
  color: var(--font-color-green);
  font-size: clamp(1rem, 2vh, 1.2rem);
  letter-spacing: 1px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 35px;
}
h1 a {
  font-size: clamp(1.3rem, 4vh, 1.6rem);
  color: var(--font-color-green);
  text-decoration: none;
}
nav ul {
  list-style-type: none;
}
nav ul li a {
  font-size: clamp(0.9rem, 2vh, 1.1rem);
  color: var(--font-color-green);
  text-decoration: none;
}

nav ul li a:hover {
  color: #90a272;
  transition: 0.2s;
}
.contact-button {
  border: 1px solid #c0d59c;
  padding: 8px 30px 8px 30px;
  border-radius: 50px;
}
.contact-button:hover {
  background-color: var(--font-color-green);
  color: var(--font-color-black);
  transition: 0.2s;
}

.main-image {
  overflow: hidden;
  top: -3vh;
  position: relative;
  width: 97vw;
  height: 94vh;
  border-radius: 45px;
  background-image: url("img/space-men-2.jpg");
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  margin: auto;
  animation: zoomIn 2s forwards;
  animation-timing-function: ease-in-out;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.92);
    border-radius: 200px;
    width: 85vw;
    height: 85vh;
  }
  100% {
    transform: scale(1);
    border-radius: 45px;
    filter: blur(0px);
    width: 97vw;
    height: 94vh;
  }
}

.alien-beauty {
  width: 80vh;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-aside-1 {
  overflow: hidden;
  position: absolute;
  top: 92%;
  left: 85%;
  transform: translate(-50%, -50%);
  background-color: #a04126;
  width: 650px;
  height: auto;
  border-radius: 45px 45px 0px 45px;
  padding: 55px;
  border-top:15px solid #150a04;
  border-left:15px solid #150a04;
}





.image-border-top{
  position: absolute;
  bottom:165px;
  right:0px;
  width: 73px;
  height:73px;
  background:transparent;
  border-radius:50%;
  box-shadow: 30px 30px 0 #150a04;
}

.image-border-left{
  position: absolute;
  bottom:-1px;
  right:403px;
  width: 73px;
  height:73px;
  background:transparent;
  border-radius:50%;
  box-shadow: 30px 30px 0 #150a04;
  animation: borderAnimation2 2s forwards;
  animation-timing-function: ease-in-out; 
}

.aside-border-left {
  overflow: hidden;
  z-index:10;
  position: absolute;
  bottom:27px;
  right:563px;
  width: 73px;
  height:73px;
  background:transparent;
  border-radius:50%;
  box-shadow: -30px 30px 0 #150a04;
}
.aside-border-top {
  z-index:10;
  position: absolute;
  bottom:106px;
  right:83px;
  width: 73px;
  height:73px;
  background:transparent;
  border-radius:50%;
  box-shadow: 30px -30px 0 #150a04;
}








@media all and (min-width: 1680px) {
  .main-aside-1 {
    overflow: hidden;
    position: absolute;
    top: 92%;
    left: 85%;
    transform: translate(-50%, -50%);
    background-color: #a04126;
    width: 650px;
    height: auto;
    border-radius: 45px 45px 0px 45px;
    padding: 55px;
    border-top:15px solid #150a04;
    border-left:15px solid #150a04;
  }
  .image-border-top{
    position: absolute;
    bottom:165px;
    right:0px;
    width: 73px;
    height:73px;
    background:transparent;
    border-radius:50%;
    box-shadow: 30px 30px 0 #150a04;
  }
  
  .image-border-left{
    position: absolute;
    bottom:-1px;
    right:603px;
    width: 73px;
    height:73px;
    background:transparent;
    border-radius:50%;
    box-shadow: 30px 30px 0 #150a04;
    animation: borderAnimation 2s forwards;
    animation-timing-function: ease-in-out;
  }
  .aside-border-left {
    overflow: hidden;
    z-index:10;
    position: absolute;
    bottom:27px;
    right:563px;
    width: 73px;
    height:73px;
    background:transparent;
    border-radius:50%;
    box-shadow: -30px 30px 0 #150a04;
  }
  .aside-border-top {
    z-index:10;
    position: absolute;
    bottom:105px;
    right:45px;
    width: 73px;
    height:73px;
    background:transparent;
    border-radius:50%;
    box-shadow: 30px -30px 0 #150a04;
  }
  
}


@keyframes borderAnimation {
  0% {
    right:570px;
  }
  100% {
    right:603px;
  
  }
}
@keyframes borderAnimation2 {
  0% {
    right:570px;
  }
  100% {
    right:567px;
  
  }
}






.main-aside-1 h2 {
  margin-top: -35px;
  position: relative;
  top:7px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.main-aside-1 p {
  position: relative;
  top:5px;
  line-height: 2.5vh;
  font-size: 0.9rem;
  padding: 0 15px 0 0;
}

.section-2 {
  top: 10vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 30vh;
  margin-left: 10vh;
  margin-bottom: 50vh;
}
.section-2 h2 {
  font-size: 4rem;
  line-height: 8vh;
}
.section-2 p {
  padding: 0 15px 0 35px;
  line-height: 2.7vh;
  font-size: 0.9rem;
}

.section-2-article {
  overflow: hidden;
  background-color: #a04126;
  display: flex;
  width: 60vw;
  border-radius: 45px;
}
.section-2-img {
  width: auto;
  height: 25vh;
}

.section-2-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.section-2-star-img {
  position: relative;
  top: -2.5vh;
  padding: 5vh;
  width: 35vh;
  margin-left: 0;
  animation: spin 10s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contact .section-2-star-img {
  position: relative;
  top: 5vh;
  padding: 5vh;
  width: 27vh;
  margin-left: 0;
  animation: spin 10s infinite;
  animation-timing-function: linear;
}

.section-3 {
  position: relative;
  top: -20vh;
  color: #a04126;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-3 h2 {
  font-size: 4.3rem;
  margin-bottom: 40px;
  line-height: 70px;
}
.section-3 img {
  height: 80vh;
  width: auto;
}

.section-3-info {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 0px;
  line-height: 25px;
}
.section-3-info p {
  width: 600px;
  margin-bottom: 40px;
}
.section-3-last-text {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 600px;
  gap: 5px;
}

.section-3-button {
  font-weight: 700;
  font-size: 1.1rem;
  width: 400px;
  background-color: #a04126;
  border: 1px solid #a04126;
  border-radius: 25px;
  margin-top: 30px;
  padding: 20px 35px 20px 35px;
}
.section-3-button:hover {
  background-color: transparent;
  border: 1px solid var(--font-color-green);
  color: var(--font-color-green);
  cursor: pointer;
  transition: 0.2s;
}

@media all and (max-width: 1460px) {

  .image-border-top, .image-border-left, .aside-border-top, .aside-border-left {
    display:none;
  }
  .main-aside-1 {
    border:none;
  }
  
  

  .section-3 {
    position: relative;
    top: -20vh;
    color: #a04126;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section-3 h2 {
    font-size: 3.6rem;
    margin-bottom: 40px;
    line-height: 60px;
  }
  .section-3 img {
    height: 80vh;
    width: auto;
  }

  .section-3-info {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 0px;
    line-height: 25px;
  }
  .section-3-info p {
    width: 400px;
    margin-bottom: 40px;
  }
  .section-3-last-text {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    gap: 5px;
  }
}

@media all and (max-width: 1200px) {
  .section-3 {
    position: relative;
    top: 0vh;
    color: #a04126;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10vh;
  }
  .section-3 h2 {
    font-size: 3.6rem;
    margin-bottom: 40px;
    line-height: 60px;
  }
  .section-3 img {
    height: 80vh;
    width: auto;
  }

  .section-3-info {
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 0px;
    line-height: 25px;
  }
  .section-3-info p {
    width: 400px;
    margin-bottom: 40px;
  }
  .section-3-last-text {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    gap: 5px;
  }
}
@media all and (max-width: 1000px) {
  .section-3 {
    position: relative;
    top: 0vh;
    color: #a04126;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
  }
  .section-3 h2 {
    font-size: 3.6rem;
    margin-bottom: 40px;
    line-height: 60px;
  }
  .section-3 img {
    height: auto;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
  }

  .section-3-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 0px;
    line-height: 25px;
  }
  .section-3-info p {
    width: 400px;
    margin-bottom: 40px;
  }
  .section-3-last-text {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    gap: 5px;
  }
}
@media all and (max-width: 600px) {
  .section-3 {
    position: relative;
    top: 5vh;
    color: #a04126;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20vh;
    padding: 30px;
  }
  .section-3 h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    line-height: 50px;
  }
  .section-3 img {
    height: auto;
    width: 90%;
    border-radius: 45px;
    margin: auto;
    margin-bottom: 30px;
  }

  .section-3-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    line-height: 25px;
  }
  .section-3-info p {
    width: auto;
    padding: 20px;
    margin-bottom: 40px;
  }
  .section-3-last-text {
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 0px;
  }
  .section-3-last-text p {
    padding: 0px;
    gap: 0px;
  }
  .section-3-button {
    font-weight: 700;
    font-size: 1.1rem;
    width: 300px;
    background-color: #a04126;
    border: 1px solid #a04126;
    border-radius: 25px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px 35px 20px 35px;
  }
}


.about {
  margin-top:13vh;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: column;
  margin-bottom:13vh;
}
.about .section-1 {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-info-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top:-40px;
}
.about-info{
  display:flex;
  flex-direction: column;
  color:#a04126;
  padding:25px;
  width:600px;
  line-height: 26px;
}
.about-slogan{
  font-size: 2.8rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:#a04126;
  height:100px;
  border-radius: 45px;
  color:black;
  padding:45px;
  width:500px;
}
.astronaut-2 {
  width:30vw;
  height:auto;
  border-radius: 45px;
}


@media all and (max-width: 1600px) {
  .about {
    margin-top:15vh;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    margin-bottom:20vh;
  }
  .about .section-1 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-info-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-info{
    display:flex;
    flex-direction: column;
    color:#a04126;
    padding:25px;
    width:600px;
    line-height: 26px;
  }
  .about-slogan{
    font-size: 2.2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#a04126;
    height:100px;
    border-radius: 45px;
    color:black;
    padding:45px;
    width:420px;
  }
  .astronaut-2 {
    width:auto;
    height:90vh;
    border-radius: 45px;
  }
}





@media all and (max-width: 1500px) {
  .about {
    margin-top:15vh;
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    margin-bottom:10vh;
  }
  .about .section-1 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-info-container {
    margin-top:65px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-info{
    display:flex;
    flex-direction: column;
    color:#a04126;
    padding:25px;
    width:600px;
    font-size:0.9rem;
    line-height: 22px;
  }
  .about-slogan{
    font-size: 1.7rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#a04126;
    height:30px;
    border-radius: 45px;
    color:black;
    padding:40px;
    width:300px;
  }
  .astronaut-2 {
    width:auto;
    height:85vh;
    border-radius: 45px;
  }
}
@media all and (max-width: 1100px) {
  .about {
    margin-top:20vh;
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: column;
    margin-bottom:10vh;
  }
  .about .section-1 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .about-info-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:25px;
  }
  .about-info{
    display:flex;
    flex-direction: column;
    color:#a04126;
    padding:25px;
    width:90%;
    line-height: 20px;
   
  }
  .about-slogan{
    font-size: 1.8rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#a04126;
    height:80px;
    border-radius: 45px;
    color:black;
    padding:25px;
    width:280px;
  }
  .astronaut-2 {
    margin-left:20px;
    width:auto;
    height:65vh;
    border-radius: 45px;
  }
}


@media all and (max-width: 800px) {
  .about {
    margin-top:20vh;
    width:100%;
    height:50vh;
    display:flex;
    flex-direction: column;
    margin-bottom:10vh;
  }
  .about .section-1 {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about-info-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:25px;
  }
  .about-info{
    display:flex;
    flex-direction: column;
    color:#a04126;
    padding:25px;
    width:90%;
    line-height: 20px;
   
  }
  .about-slogan{
    font-size: 1.8rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#a04126;
    height:80px;
    border-radius: 45px;
    color:black;
    padding:25px;
    width:280px;
  }
  .astronaut-2 {
    display:none;
  }
}

@media all and (max-width: 600px) {
  .about {
    margin-top:30vh;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    margin-bottom:10vh;
  }
  .about .section-1 {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about-info-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:25px;
  }
  .about-info{
    display:flex;
    flex-direction: column;
    color:#a04126;
    padding:25px;
    width:90%;
    line-height: 20px;
   
  }
  .about-slogan{
    font-size: 1.8rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color:#a04126;
    height:80px;
    border-radius: 45px;
    color:black;
    padding:25px;
    width:280px;
  }
  .astronaut-2 {
    display:none;
  }
}





footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 350px;
  background-color: #a04126;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding: 70px;
  flex-wrap: wrap;
  gap:250px;
}

.footer__headline {
  margin-top:50px;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 15px;
}

.footer__list  li a {
  list-style: none;
  color:black;
  transition: .2s;
}
.footer__list  li a:hover {
  color:rgb(53, 53, 53);
  transition: .2s;
}



.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 25px;
  font-weight: 500;
}

@media all and (max-width: 750px) {
  footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: #a04126;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 70px;
    flex-wrap: wrap;
  }
  .footer__headline {
    flex: 1;
    font-size: 1.5rem;
  }
}
@media all and (max-width: 600px) {
  footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #a04126;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding: 30px;
    flex-wrap: wrap;
  }
  .footer__headline {
    font-size: 1rem;
  }
  .footer__list {
    line-height: 22px;
    font-size: 0.9rem;
  }
}

.contact {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact h2 {
  color:#a04126;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 400;
  margin-bottom:50px;
  text-align: center;
}

.contact button {
  font-weight: 500;
  font-size: 1.1rem;
  width: 350px;
  background-color: #a04126;
  border: 1px solid #a04126;
  border-radius: 25px;
  margin-bottom: 7px;
  padding: 20px 35px 20px 35px;
}
.contact button:hover {
  background-color: transparent;
  border: 1px solid var(--font-color-green);
  color: var(--font-color-green);
  cursor: pointer;
  transition: 0.2s;
}

@media all and (max-width: 600px) {
  .contact button {
    font-weight: 500;
    font-size: 1.1rem;
    width: 250px;
    background-color: #a04126;
    border: 1px solid #a04126;
    border-radius: 25px;
    margin-bottom: 7px;
    padding: 20px 35px 20px 35px;
  }
}

/* Responsive */
@media all and (max-width: 1650px) {
  .main-aside-1 {
    position: absolute;
    top: 88%;
    left: 86%;
    transform: translate(-50%, -50%);
    background-color: #a04126;
    width: 62vh;
    height: auto;
    border-radius: 25px;
    padding-right: 85px;
  }
  .main-aside-1 h2 {
    margin-top: -25px;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  .main-aside-1 p {
    line-height: 2.8vh;
    font-size: 0.9em;
    padding: 0 10px 0 0;
  }
}
@media all and (max-width: 1050px) {
  .main-aside-1 {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #a04126;
    width: 65vh;
    height: auto;
    border-radius: 25px;
    padding-right: 145px;
  }
  .main-aside-1 h2 {
    margin-top: -25px;
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  .main-aside-1 p {
    line-height: 2.2vh;
    font-size: 0.8em;
    padding: 0 0px 0 0;
  }
}
@media all and (max-width: 800px) {
  .alien-beauty {
    width: 85%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-date {
    display: none;
  }
  .main-aside-1 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a04126;
    text-align: left;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding-right: 5vh;
  }
}

@media all and (max-width: 690px) {
  header {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
    top: 5vh;
  }
  nav ul {
    position: relative;
    top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 35px;
  }
  header h1 a {
    position: relative;
    top: 20px;
    font-size: 1.7rem;
    color: var(--font-color-green);
    text-decoration: none;
  }
}

@media all and (max-width: 1200px) {
  .section-2-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
  }
  .section-2-article h2 {
    margin-top: 5vh;
    text-align: left;
    align-self: flex-start;
    line-height: 60px;
    padding: 0 0 0 25px;
  }
  .section-2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
  }

  .section-2-star-img {
    overflow: hidden;
    position: relative;
    top: 14vh;
    padding: 0vh;
    width: 20vh;
    height: auto;
    left: 2vh;
    animation: spin 10s infinite;
    animation-timing-function: linear;
  }
}

@media all and (max-width: 820px) {
  .section-2-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
  }
  .section-2-article h2 {
    font-size: clamp(3rem, 5vh, 3.2rem);
  }
  .section-2-star-img {
    overflow: hidden;
    position: relative;
    top: -12vh;
    padding: 0vh;
    width: 15vh;
    height: auto;
    left: -2vh;
    animation: spin 10s infinite;
    animation-timing-function: linear;
  }
}

@media all and (max-width: 600px) {
  .section-2-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65vh;
  }
  .section-2-article h2 {
    font-size: clamp(2.5rem, 2vh, 2.7rem);
    line-height: 50px;
    padding: 25px 25px 0 25px;
  }
  .section-2-star-img {
    overflow: hidden;
    position: relative;
    top: -12vh;
    padding: 0vh;
    width: 12vh;
    height: auto;
    left: -5vh;
    animation: spin 10s infinite;
    animation-timing-function: linear;
  }
  .section-2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .main-aside-1 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a04126;
    text-align: left;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding-right: 5vh;
  }
  .main-aside-1 h2 {
    margin-top: -30px;
    font-size: 1rem;
    width: 90%;
  }
  .main-aside-1 p {
    font-size: 0.8rem;
    width: 90%;
  }
}
@media all and (max-width: 500px) {
  .section-2-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    left: -5vh;
    top: 9vh;
    position: relative;
    width: 90vw;
  }
  .section-2-article h2 {
    font-size: clamp(2.2rem, 2vh, 2.1rem);
    line-height: 40px;
    padding: 5px 25px 0 25px;
  }
  .section-2-star-img {
    float: right;
    overflow: hidden;
    position: absolute;
    top: -10vh;
    padding: 0vh;
    width: 15vh;
    height: auto;
    left: 12vh;
    animation: spin 10s infinite;
    animation-timing-function: linear;
  }
  .section-2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
}
